/* body{
    background: lightblue;
    text-align: center;
} */

.wrapper{
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
    /* border: 1px solid red */
}

img{
    /* transform: translateX(-200px, 200px); */
    /* transform: scale(3, 2); */
    transform: rotateZ(0deg) 
    /* translateY(200px) 
    scale(2); */
}

.circle{
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    margin: 60px auto;
    border-radius: 50px;
    background: pink;
    color: aliceblue;
    cursor: pointer;
    transition: background 1s, transform 1s 1s ease;
    /* linear tham số đầu: màu đổi dần sau 1s
        Tham số 2: Tốc độ chuyển
        Tham số 3: Độ trễ
        Tham số 4: Kiểu Tốc độ chuyển
        linear: v k đổi
        ease-in: tăng dần
    */
}

.circle:hover{
    background: salmon;
    transform: rotate(360deg);
}

/* Keyframes: 
    Chứa chính xác các thuộc tính thay đổi
*/


/* Base element */
html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.grass, .sky, .road{
    position: relative;
}

.sky{
    height: 40%;
    background: skyblue;
}

.grass{
    height: 30%;
    background: seagreen;
}

.road{
    height: 30%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%;
}

.lines{
    border: 5px dashed #fff;
    height: 0px;
    position: absolute;
    bottom: 45%;
    width: 100%;
}

/* Elements to animate */
.mario{
    position: absolute;
    top: -40px;
    left: 0px;
    animation-name: drive;
    animation-duration: 2s;
    /* animation-fill-mode: forwards; */
    /* Bị delay ở vị trí gốc 2s */
    /* animation-fill-mode: backwards; */
    /* Bị delay ở vị trí định nghĩa trong keyframes 2s */
    animation-fill-mode: both;
    /* Đẹp nhất  */
    animation-delay: 2s;
}


/* Keyframes */

@keyframes drive{
    from{transform: translateX(200px);}
    to{transform: translateX(1200px);}
}